<div class="row">
    <section class="main col-md-9">
        {{#if data.post}}
        <article>
            <h2>{{data.post.title}}</h2>
            <img src={{data.post.featureImage}} alt="feature Image" style="width:100%" />
            <br /><br />
            {{!-- massa non ante bibendum ullamcorper. Duis cursus, diam at pretium aliquet, metus urna convallis erat, eget tincidunt dui augue eu tellus. Phasellus elit pede, malesuada vel, venenatis vel, faucibus id, libero. Donec consectetuer mauris id sapien. Cras dolor dolor, tempus non, lacinia at, iaculis quis, pede. Praesent eu dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eget magna. Suspendisse tristique neque venenatis lacus. Etiam bibendum fermentum metus. Aenean sed", --}}
            {{#safeHTML data.post.body}}
            {{/safeHTML}}
            <br /><br />
            <strong>Category:</strong> {{data.post.category}}<br />
            <strong>Last Updated:</strong> {{data.post.postDate}}

        </article>
        {{else}}
        <div class="col-md-12 text-center">
            <h2>{{data.message}}</h2>
            <p>Please try another Post / Category</p>
        </div>
        {{/if}}
    </section>
    <aside class="col-md-3">
        <br /><br />
        {{#if data.posts}}
            <h4>Posts</h4>
            <ul class="list-group">
            {{#each data.posts}}
                <a href="/blog/{{id}}?category={{../viewingCategory}}" class="list-group-item">{{title}}</a>
                {{!-- <a href="#" class="list-group-item">Post 2</a>
                <a href="#" class="list-group-item">etc...</a> --}}
            {{/each}}
            </ul>
        {{/if}}

        {{#if data.categories}}
            <h4>Categories</h4>
            {{#each data.categories}}
            <ul class="list-group">
                <a href="/blog?category={{id}}" class="list-group-item">{{category}}</a>   
            {{/each}}
            </ul>
        {{/if}}
    </aside>
</div>